body {
    font-family: 'Poppins', sans-serif;
}

.container {
    /* box-shadow: 5px 10px #888888; */
    background-color: #c9c4c4;
    padding: 4rem 3rem;
    margin: 5em auto;
    width: 30em;
    border: 1px solid #dfdbdb;
    box-sizing: border-box;
    box-shadow: 5px 5px #e9e3e3;
    border-radius: 4px;
}

.result-display {
    background-color: #8b8787;
    padding: 0 1rem;
    margin: 0 auto;
    width: 30em;
    border: 1px solid #dfdbdb;
    box-sizing: border-box;
}
/* label */

label {
    color: rgb(5, 5, 5);
    font-weight: 600;
    margin-right: 2rem;
}

table tr {
    height: 3em;
}

select {
    border-radius: 4px;
    height: 3em;
    width: 20em;
    margin-top: 1rem;
}

select, input {
    border: none;
}

.amount {
    border-radius: 4px;
    height: 3em;
    width: 19.5em;
    margin-top: 1rem;
}

.valueKosong {
    text-align: center;
}


/* isi option */
select option {
    font-family: 'Poppins';
    font-weight: 600;
}

/* button */
button {
    background-color: green;
    opacity: .8;
    border-radius: 4px;
    height: 2em;
    color: white;
    width: 20em;
    border: none;
    box-shadow: 0 4px rgba(11, 134, 22, 0.5);
}

button:hover {
    opacity: 1;
    cursor: pointer;
}

button:active {
    position: relative;
    top: 4px;
    box-shadow: none;
}

